<!DOCTYPE html>
<html lang="en">

<head></head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Home One || Movie</title>
    <body>
      <section class="row search_filter">
        <div class="container">
            <div class="row m0">
                <!--Category Filter-->
                <div class="btn-group category_filter fleft">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="filter-option pull-left">All Category</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="filter_text">All Categories</span><span class="badge"></span></a></li>
                        <li><a href="#"><span class="filter_text">Art</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">astrology</span><span class="badge">650</span></a></li>
                        <li><a href="#"><span class="filter_text">biography</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">comedy</span><span class="badge">650</span></a></li>
                        <li><a href="#"><span class="filter_text">entertainment</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">photoshop</span><span class="badge">650</span></a></li>
                        <li><a href="#"><span class="filter_text">philosophy</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">nano tube</span><span class="badge">650</span></a></li>
                    </ul>
                </div>
                <!--Post Type Filter-->
                <div class="btn-group postTypeFilter fleft" data-toggle="buttons">
                    <label class="btn btn-primary postType1">
                        <input type="radio" name="postType" id="postType1" checked=""> All
                    </label>
                    <label class="btn btn-primary postType2">
                        <input type="radio" name="postType" id="postType2"> Videos
                    </label>
                    <label class="btn btn-primary postType3">
                        <input type="radio" name="postType" id="postType3"> Images
                    </label>
                    <label class="btn btn-primary postType4 active">
                        <input type="radio" name="postType" id="postType4"> Audios
                    </label>
                </div>
                <!--Search Form-->
                <form action="#" role="search" class="search_form fright">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Here">
                        <span class="input-group-addon"><button type="submit"><img src="images/icons/search.png" alt=""></button></span>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </body>
</html>