<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>CONTACT||MOVIE</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="boostrapmin.css">
    <link rel="stylesheet" href="jquery-ui.css">
    <link rel="stylesheet" href="fontawesome-all.min.css">
    <link rel="stylesheet" href="owl.carousel.min.css">
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="plyr.css">
    <link rel="stylesheet" href="magnific-popup.css">
    <link rel="stylesheet" href="slicknav.min.css">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="slidepic.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div id="preloader"></div>
    <!-- header-start -->
    <header>
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-12 col-12">
                        <div class="logo">
                            <a href="index.html">
                                <img src="New folder/filmy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                        <div class="responsive-menu d-lg-none"></div>
                        <div class="menu d-none d-lg-block">
                            <nav>
                                <ul id="menu">
                                    <li>
                                        <a href="movie.html">Home</a>
                                    </li>
                                   
                                    <li>
                                        <a href="05_feature-movie-grid.html">Movie Layout</a>
                                        <ul class="drop">
                                            <li>
                                                <a href="05_feature-movie-grid.html">Movie Grid</a>
                                            </li>
                                            <li>
                                                <a href="06_feature-movie-list.html">Movie list</a>
                                            </li>
                                            <li>
                                                <a href="04_movie-details.html">Movie Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Type</a>
                                        <ul class="drop">
                                        <li>
                                                <a href="bollywood.html">Bollywood</a>
                                            </li>
                                            <li>
                                                <a href="tollywood.html">Tollywood</a>
                                            </li>
                                             <li>
                                                <a href="hollywood.html">Hollywood</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega">
                                        <a href="#">Pages</a>
                                        <ul class="mega-menu">
                                            <li>
                                                <a href="#">Column 1</a>
                                                <ul>
                                                    <li>
                                                        <a href="index.html">Home One</a>
                                                    </li>
                                                    <li>
                                                        <a href="02_index-2.html">Home Two</a>
                                                    </li>
                                                    <li>
                                                        <a href="03_index-3.html">Home Three</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Column 2</a>
                                                <ul>
                                                    <li>
                                                        <a href="04_movie-details.html">Movie Details</a>
                                                    </li>
                                                    <li>
                                                        <a href="05_feature-movie-grid.html">Movie Feature Grid</a>
                                                    </li>
                                                    <li>
                                                        <a href="06_feature-movie-list.html">Movie Feature List</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Column 3</a>
                                                <ul>
                                                    <li>
                                                        <a href="07_celebrety-page.html">Celebrety Page</a>
                                                    </li>
                                                    <li>
                                                        <a href="08_celebrety-details.html">Celebrety Details</a>
                                                    </li>
                                                    <li>
                                                        <a href="09_about.html">About</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Column 4</a>
                                                <ul>
                                                    <li>
                                                        <a href="10_blog-page.html">Blog Page</a>
                                                    </li>
                                                    <li>
                                                        <a href="11_blog-details.html">Blog Details</a>
                                                    </li>
                                                    <li>
                                                        <a href="12_contact.html">Contact</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contacts</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <div class="account">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                        <div class="free-ticket">
                            <a href="#" style="font-size: 20px;">.CONTACT.</a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                        <div class="search-signup">
                            <div class="search">
                                <form action="#">
                                    <div class="search-input-box">
                                        <select>
                                            <option>Select Movie Type</option>
                                            <option>Comedy Movie</option>
                                            <option>Drama Movie</option>
                                            <option>Horror Movie</option>
                                            <option>Action Movie </option>
                                            <option>xtra</option>
                                            <option>xtra</option>
                                            <option>xtra</option>
                                            <option>xtra</option>
                                        </select>
                                        <input type="text">
                                         <button>
                                                <span style="font-size:17px" class="material-icons">mic</span>
                                            </button>
                                        <button>
                                               <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
     <!-- other-page-breadcumb-area-start -->
    <div class="other-page-breadcumb-area bg-with-ebony">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-9 col-12">
                    <div class="op-breadcumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- other-page-breadcumb-area-end -->
    <!-- contact-area-start -->
    <div class="contact-area">
        <div class="map-area">
            <div class="gmap">
                <div id="googleMap"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="contact-us">
                        <h4 class="contact-title">Contact Us</h4>
                        <div class="cf-msg"></div>
                        <form action="mail.php" method="post" id="cf">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="cf-input-box">
                                        <input type="text" placeholder="Name" id="fname" name="fname" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="cf-input-box">
                                        <input type="text" placeholder="Email" id="email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="cf-input-box">
                                        <input type="text" placeholder="Subject" id="email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="cf-input-box">
                                        <textarea class="contact-textarea" placeholder="Message" id="msg" name="msg" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="cf-input-box">
                                        <button id="submit" class="cont-submit btn-contact" name="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12 col-12">
                    <div class="contact-info">
                        <h4 class="contact-title">Office Address</h4>
                        <ul class="info">
                            <li>Moview Inc. Kolkata,West Bengal,Pin-700129</li>
                            <li>TollFree Mobile: 1800 3455 9872 </li>
                            <li>Fax: 033-o4456342</li>
                            <li>Email Address: digitalsettopbox18@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-area-end -->
    <!-- footer-start -->
    <footer>
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="fw-info footer-widget">
                            <div class="flogo">
                                <img src="New folder/filmy.png" alt="">
                            </div>
                            <p class="text">we provide assistance 24/7 for your pre sales questions</p>
                            <ul class="address">
                                <li>
                                    <span>
                                       <a class="glyphicon glyphicon-headphones"></a>
                                    </span>Live chat</li>
                            </ul>
                            <ul class="social">
                                <li>
                                        <a href="#" class="fa fa-facebook"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<!-- google-map-script -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH5RWCDq3WYxQy9XSPDrreRX-CY8rxJcY&callback=initMap" async
        defer></script>
    <script>
        var user_lat, user_lng;
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('googleMap'), {
                center: {
                    lat: 23.828058,
                    lng: 90.371041
                },
                zoom: 14,
                scrollwheel: false
            });
            var marker = new google.maps.Marker({
                position: {
                    lat: 23.828058,
                    lng: 90.371041
                },
                map: map,
                title: 'Hello World!'
            });
        }
    </script>
    <!-- google-map-script -->
     <!-- Scripts -->
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/owl.curousel.min.js"></script>
    <script src="js/jqueary.countup.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/amplitude.js"></script>
    <script src="js/plyr.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.scrollUp.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/booststrap.min.js"></script>
    <script src="js/theme.js"></script>
    <!--end script-->