{% extends 'movie/base.html' %}
{% load staticfiles %}

{% block content %}

<body>
    <div id="preloader"></div>
    <!-- header-start -->
    <header>
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-12 col-12">
                        <div class="logo">
                            <a href="index.html">
                                <img src='{% static "images/filmy.png" %}' alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                        <div class="responsive-menu d-lg-none"></div>
                        <div class="menu d-none d-lg-block">
                            <nav>
                                <ul id="menu">
                                    <li>
                                        <a href="{% url 'movie_site:home' %}">HOME</a>
                                    </li>
                                    <li>
                                        <a>SELETE MOVIE TYPE</a>
                                        <ul class="drop">
                                            <li>
                                                <a href="{% url 'movie_site:bollywood' %}">Bollywood</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'movie_site:tollywood' %}">Tollywood</a>
                                            </li>
                                            
                                             <li>
                                                <a href="{% url 'movie_site:hollywood' %}">Hollywood</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'movie_site:contact' %}">CONTACT US</a>
                                    </li>
                                    <li>
                                            <a>ACCOUNT</a>
                                            <ul class="drop">
                                                <li>
                                                    <a href="{% url 'register' %}">REGISTER</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'login' %}">SIGN IN</a>
                                                </li>
                                                
                                                 <li>
                                                    <a>LOGOUT</a>
                                                </li>
                                            </ul>
                                        </li>
                                    <li>
                                        
                                    </li>
                                    <li>
                                        
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <div class="account">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                        <div class="free-ticket">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- contact-area-start -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="contact-us">
                        <h4 class="contact-title" style="text-align: center;">CONTACT US</h4>
                        <div class="cf-msg"></div>
                        <form method="post" action="{% url 'movie_site:contact' %}">
                                {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="cf-input-box">
                                        <input type="text" placeholder=" First Name" name="first_name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="cf-input-box">
                                        <input type="text" placeholder=" Last Name"  name="last_name" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="cf-input-box">
                                            <input type="text" placeholder=" Enter your Email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="cf-input-box">
                                        <textarea class="contact-textarea" placeholder=" Somthing Message" name="message" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="cf-input-box">
                                        <button id="submit" class="cont-submit btn-contact" name="submit" style="border-radius: 22px;">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12 col-12">
                    <div class="contact-info">
                        <h4 class="contact-title">OFFICE ADDRESS</h4>
                        <ul class="info">
                            <li>Moview Inc. Kolkata,West Bengal,Pin-700129</li>
                            <li>TollFree Mobile: 1800 3455 9872 </li>
                            <li>Fax: 033-o4456342</li>
                            <li>Email Address: digitalsettopbox18@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-area-end -->
    <!-- footer-start -->
    <footer>
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="fw-info footer-widget">
                            <div class="flogo">
                                <img src="New folder/filmy.png" alt="">
                            </div>
                            <p class="text">we provide assistance 24/7 for your presales questions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
     <!-- Scripts -->
     <script src='{%static "javascript/jquery-3.2.0.min.js" %}'></script>
     <script src='{%static "javascript/jquery-ui.js" %}'></script>
     <script src='{%static "javascript/owl.curousel.min.js" %}'></script>
     <script src='{%static "javascript/jqueary.countup.min.js" %}'></script>
     <script src='{%static "javascript/countdown.js" %}'></script>
     <script src='{%static "javascript/parallax.js" %}'></script>
     <script src='{%static "javascript/amplitude.js" %}'></script>
     <script src='{%static "javascript/plyr.js" %}'></script>
     <script src='{%static "javascript/jquery.slimscroll.min.js" %}'></script>
     <script src='{%static "javascript/jquery.magnific-popup.min.js" %}'></script>
     <script src='{%static "javascript/jquery.slicknav.min.js" %}'></script>
     <script src='{%static "javascript/jquery.scrollUp.js" %}'></script>
     <script src='{%static "javascript/jquery.mixitup.min.js" %}'></script>
     <script src='{%static "javascript/jquery.waypoints.min.js" %}'></script>
     <script src='{%static "javascript/popper.min.js" %}'></script>
     <script src='{%static "javascript/booststrap.min.js" %}'></script>
     <script src='{%static "javascript/theme.js" %}'></script>
     
    <!--end script-->
    {% endblock %}