{% extends 'movie/base.html' %}
{% load staticfiles %}

{% block content %}
<body>
    <div id="preloader"></div>
    <!-- header-start -->
    <header>
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-12 col-12">
                        <div class="logo">
                            <a href="index.html">
                                <img src='{%static "images/filmy.png" %}' alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                        <div class="responsive-menu d-lg-none"></div>
                        <div class="menu d-none d-lg-block">
                            <nav>
                                <ul id="menu">
                                    <li>
                                        <a href="{% url 'movie_site:home' %}">HOME</a>
                                    </li>
                                    <li>
                                        <a>TYPE</a>
                                        <ul class="drop">
                                            <li>
                                                <a href="{% url 'movie_site:tollywood' %}">Tollywood</a>
                                            </li>
                                             <li>
                                                <a href="{% url 'movie_site:bollywood' %}">Bollywood</a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                    <li>
                                        <a href="{% url 'movie_site:contact' %}">CONTACT US</a>
                                    </li>
                                    <li>
                                        <a>ACCOUNT</a>
                                        <ul class="drop">
                                            <li>
                                                <a href="{% url 'register' %}">REGISTER</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'login' %}">SIGN IN</a>
                                            </li>
                                            
                                             <li>
                                                <a href="{% url 'logout' %}">LOGOUT</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <div class="account">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                        <div class="free-ticket">
                            <a href="#" style="font-size: 20px;">.HOLLYWOOD MOVIE.</a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                        <div class="search-signup">
                            <div class="search">
                                <form action="{% url 'search' %}" method="post" role=" search">
                                        {% csrf_token %}
                                           <div class="search-input-box">
                                                <select>
                                                     <option>Search movie</option>
                                                </select>
                                               <input type="text" name="search">
                                    <button>
                                           <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- slider-area-start -->
    <div id="slider">
            {% for slide in all_slide %}
                      <figure>
                        <img src="/media/{{ slide.images }}">
                      </figure>
                      {% endfor %}
                    </div>

<!-- slider-area-end -->
    <!-- feature-movie-area-start -->
    <div class="feature-movie-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="grid-menu d-flex justify-content-between">
                        <div class="tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#grid" role="tab" aria-selected="true">
                                        <span class="glyphicon glyphicon-th-large"></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="pages">
                            <ul>
                                <li>
                                    <a href="#">
                                         <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">
                                      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="grid" role="tabpanel">
                            <div class="grid-movies">
                                <div class="row">
                                        {% for hollywoodthree in all_hollywood %}
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="single-top-movie">
                                            <div class="img">
                                                <a href="#">
                                                    <img src="/media/{{ hollywoodthree.picture }}" >
                                                </a>
                                            </div>
                                            <a class="popup-youtube" href="">
                                            <a class="material-icons" href="https://www.youtube.com/watch?v=xcJtL7QggTI&t=6s"> play_circle_outline</a>
                                            </a>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a>{{ hollywoodthree.name }}</a>
                                                </h2>
                                                <p class="time">{{ hollywoodthree.description }}</p>
                                                <p class="date">{{ hollywoodthree.date }}</p>
                                                <p class="duration">{{ hollywoodthree.duration }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    </div>
                                    </div>
                     </div>              
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- feature-movie-area-end -->
    
</body>
</html>
     <!-- Scripts -->
     <script src='{%static "javascript/jquery-3.2.0.min.js" %}'></script>
     <script src='{%static "javascript/jquery-ui.js" %}'></script>
     <script src='{%static "javascript/owl.curousel.min.js" %}'></script>
     <script src='{%static "javascript/jqueary.countup.min.js" %}'></script>
     <script src='{%static "javascript/countdown.js" %}'></script>
     <script src='{%static "javascript/parallax.js" %}'></script>
     <script src='{%static "javascript/amplitude.js" %}'></script>
     <script src='{%static "javascript/plyr.js" %}'></script>
     <script src='{%static "javascript/jquery.slimscroll.min.js" %}'></script>
     <script src='{%static "javascript/jquery.magnific-popup.min.js" %}'></script>
     <script src='{%static "javascript/jquery.slicknav.min.js" %}'></script>
     <script src='{%static "javascript/jquery.scrollUp.js" %}'></script>
     <script src='{%static "javascript/jquery.mixitup.min.js" %}'></script>
     <script src='{%static "javascript/jquery.waypoints.min.js" %}'></script>
     <script src='{%static "javascript/popper.min.js" %}'></script>
     <script src='{%static "javascript/booststrap.min.js" %}'></script>
     <script src='{%static "javascript/theme.js" %}'></script>
     {% endblock %}