{% extends 'movie/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="preloader"></div>
    <!-- header-start -->
    
    <header>
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-12 col-12">
                        <div class="logo">
                            <a href="index.html">
                                <img src='{% static "images/filmy.png" %}' alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                        <div class="responsive-menu d-lg-none"></div>
                        <div class="menu d-none d-lg-block">
                            <nav>
                                <ul id="menu">
                                    <li>
                                        <a href="{% url 'movie_site:home' %}">HOME</a>
                                    </li>
                                    <li>
                                        <a>SELETE MOVIE TYPE</a>
                                        <ul class="drop">
                                            <li>
                                                <a href="{% url 'movie_site:bollywood' %}">Bollywood</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'movie_site:tollywood' %}">Tollywood</a>
                                            </li>
                                            
                                             <li>
                                                <a href="{% url 'movie_site:hollywood' %}">Hollywood</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'movie_site:contact' %}">CONTACT US</a>
                                    </li>
                                    <li>
                                            <a>ACCOUNT</a>
                                            <ul class="drop">
                                                <li>
                                                    <a href="{% url 'movie_site:register' %}">REGISTER</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'movie_site:login' %}">SIGN IN</a>
                                                </li>
                                                
                                                 <li>
                                                    <a>LOGOUT</a>
                                                </li>
                                            </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <div class="account">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                        <div class="free-ticket">
                            <a href="#">.BLOCKBLASTER MOVIE SHOW.</a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                        <div class="search-signup">
                            <div class="search">
                                <form action="{% url 'search' %}" method="post" role=" search">
                                    {% csrf_token %}
                                       <div class="search-input-box">
                                            <select>
                                                 <option>Search movie</option>
                                            </select>
                                           <input type="text" name="search">
                                       
                                            <button>
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>                                          
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- header-start -->
    <!-- slider-area-start -->
    
     <div id="slider">
            {% for slide in all_slide %}
                      <figure>
                        <img src="/media/{{ slide.images }}">
                      </figure>
                      {% endfor %}
                    </div>
                   
    <!-- slider-area-end -->
    <!-- top-movie-area-start -->
     <div class="movie-tab-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="movie-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                             
                            <li class="nav-item">
                                <a class="nav-link active" id="lmovie-tab" data-toggle="tab" href="#lmovie" role="tab" aria-controls="lmovie" aria-selected="true">LATEST MOVIES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tshow-tab" data-toggle="tab" href="#tshow" role="tab" aria-controls="tshow" aria-selected="false">THIS MONTH</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="omovie-tab" data-toggle="tab" href="#omovie" role="tab" aria-controls="omovie" aria-selected="false">WATCH NOW</a>
                            </li>
                        </ul>
                        
                    </div>  
                </div>
                
            </div>
        </div>
    </div>              
    <div class="row">
        <div class="col-12">     
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="grid" role="tabpanel">
                    <div class="grid-movies">
                        <div class="row">
                                {% for Movie in movies %}
                            <div class="single-top-movie" style="margin-left:65px;">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src= "/media/{{ Movie.picture }}"alt="">
                                        </a>
                                    </div>
                                       <a class="material-icons" href="{% url 'movie_site:player' %}"> play_circle_outline</a>
                                    <div class="content">
                                        <h2 class="name">
                                        
                                            <a>{{ Movie.name }}</a>
                                        </h2>
                                        <p class="time">{{ Movie.description }}</p>
                                        <p class="date">{{ Movie.date }}</p>
                                        <p class="duration">{{ Movie.duration }}</p>
                                        
                                    </div>
                                </div>
                                {% endfor %}                             
                        </div>
                    </div>
                    
                    

</div>
    <!-- top-movie-area-end -->
    <!-- upcoming-movie-area-start -->
    <div class="upcoming-movie-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>UPCOMING MOVIES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="upcoming-movie-feature">
                        <div class="umf-single single-top-movie">
                                {% for upcomingone in all_upcomingone %}
                            <div class="img">
                                <a href="04_movie-details.html">
                                    <img src="/media/{{ upcomingone.picturefour }}" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="name">
                                    <a>{{ upcomingone.namefour }}</a>
                                </h2>
                                <p class="timer" id="demo" style="color: #69a728;"></p>
                                <p id="duration" style="color: #69a728;"></p>
                                    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>         
                
                    <div class="ums-all">
                            {% for upcomingtwo in all_upcomingtwo %}
                            <div class="row">
                                    
                                        <div class="ums-single single-top-movie"style="margin-left: 20px;">
                                                <div class="img">
                                                    <a href="04_movie-details.html">
                                                        <img src="/media/{{ upcomingtwo.picturefive }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h2 class="name">
                                                        <a>{{ upcomingtwo.namefive }}</a>
                                                    </h2>
                                                    <p class="time">{{ upcomingtwo.descriptionfive }}</p>
                                                    <p class="date">{{ upcomingtwo.datefive }}</p>
                                                </div>
                                        </div> 
                                        {% endfor %}      
                            </div>
                            
                           
                    </div>
    </div>
    <!-- upcoming-movie-area-end -->
    <!-- movie-tab-area-start -->
    <div class="movie-tab-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="movie-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                             
                            <li class="nav-item">
                                <a class="nav-link active" id="lmovie-tab" data-toggle="tab" href="#lmovie" role="tab" aria-controls="lmovie" aria-selected="true">TOP RATING</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tshow-tab" data-toggle="tab" href="#tshow" role="tab" aria-controls="tshow" aria-selected="false">MOVIES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="omovie-tab" data-toggle="tab" href="#omovie" role="tab" aria-controls="omovie" aria-selected="false">WATCH NOW</a>
                            </li>
                        </ul>
                        
                    </div>  
                </div>
                
            </div>
        </div>
    </div>                  
    <div class="row">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="grid" role="tabpanel">
                            <div class="grid-movies">
                                <div class="row">
                                        {% for toprating in all_toprating %}
                                        <div class="single-top-movie" style="margin-left: 60px;">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="/media/{{ toprating.picturesix }}" alt="">
                                                </a>
                                            </div>
                                              <a class="material-icons" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8"> play_circle_outline</a> 
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="">{{ toprating.namesix }}</a>
                                                </h2>
                                                <p class="time">{{ toprating.descriptionsix }}</p>
                                                <p class="date">{{ toprating.datesix }}</p>
                                                <p class="duration">{{ toprating.durationsix }}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                     </div>   
                            
            </div>
        </div>
    </div>
    <!-- movie-tab-area-end -->
   
    <!-- about-movie-area-start -->
    <div class="about-movie-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>About This Movie</h2>
                    </div>
                </div>
            </div>
            
    <!-- about-movie-area-end -->
    <!-- newsletter-area-start -->
    <div class="newsletter-area bg-with-ebony">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="newsletter">
                        <h2 class="title">Newsletter</h2>
                        <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                            in some form cted humour or randomised words.</p>
                        <form action="#">
                            <div class="newsleter-input-box">
                                <input type="text" placeholder="Enter your email.......">
                                <button>
                                    <span class="glyphicon glyphicon-send">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newsletter-area-end -->
    <!-- news-area-start -->
    <div class="news-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Letest News</h2>  
                    </div>
                </div>
            </div>
            <footer id="footer">
                    <div class="container">
                        <div class="row">
                        <div class="footer-wrapper">
                          <div class="col-md-3 col-sm-3" style="margin-left: 40px;">
                            <a href=""><img src="pic/logo-black.png" alt="" class="footer-logo" /></a>
                            <ul class="list-inline social-icons">
                                <li><a href="#"><i class="fa fa-facebook"style="font-size: 19px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"style="font-size: 19px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"style="font-size: 19px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"style="font-size: 19px;"></i></a></li>
                            </ul>
                          </div>
                          <div class="col-md-2 col-sm-2"style="margin-left: 40px;">
                            <h5>For individuals</h5>
                            <ul class="footer-links">
                              <li><a href="{% url 'movie_site:register' %}"style="font-size: 19px;">Register</a></li>
                              <li><a href="{% url 'movie_site:login' %}"style="font-size: 19px;">Login</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 col-sm-3"style="margin-left: 40px;">
                            <h5>Contact Us</h5>
                            <ul class="contact">
                              <li><i class="material-icons"style="font-size: 19px;">call</i>+10000000000</li>
                              <li><i class="material-icons"style="font-size: 19px;">email</i>hi@gmail.com</li>
                              <li><i class="material-icons"style="font-size: 19px;">location_on</i>kolkata</li>
                            </ul>
                          </div>
                        </div>
                        </div>
                    </div>
                      </footer>
           </div>
           </div> 
     <button onclick="topFunction()" id="myBtn" title="Go to top">top</button>
    <!-- news-area-end -->
    <!-- footer-start -->
    <!-- footer-end -->
    <!-- Scripts -->
    <script src='{%static "javascript/jquery-3.2.0.min.js" %}'></script>
    <script src='{%static "javascript/jquery-ui.js" %}'></script>
    <script src='{%static "javascript/owl.curousel.min.js" %}'></script>
    <script src='{%static "javascript/jqueary.countup.min.js" %}'></script>
    <script src='{%static "javascript/countdown.js" %}'></script>
    <script src='{%static "javascript/parallax.js" %}'></script>
    <script src='{%static "javascript/amplitude.js" %}'></script>
    <script src='{%static "javascript/plyr.js" %}'></script>
    <script src='{%static "javascript/jquery.slimscroll.min.js" %}'></script>
    <script src='{%static "javascript/jquery.magnific-popup.min.js" %}'></script>
    <script src='{%static "javascript/jquery.slicknav.min.js" %}'></script>
    <script src='{%static "javascript/jquery.scrollUp.js" %}'></script>
    <script src='{%static "javascript/jquery.mixitup.min.js" %}'></script>
    <script src='{%static "javascript/jquery.waypoints.min.js" %}'></script>
    <script src='{%static "javascript/popper.min.js" %}'></script>
    <script src='{%static "javascript/booststrap.min.js" %}'></script>
    <script src='{%static "javascript/theme.js" %}'></script>
    
    <!--auto play script -->
    <script>
  autoPlayYouTubeModal();
  function autoPlayYouTubeModal() {
      var trigger = $("body").find('[data-toggle="modal"]');
      trigger.click(function () {
          var theModal = $(this).data("target"),
              videoSRC = $(this).attr("data-theVideo"),
              videoSRCauto = videoSRC + "?autoplay=1";
          $(theModal + ' iframe').attr('src', videoSRCauto);
          $(theModal + ' button.close').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
      });
  }
</script>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
<!--timer script -->
<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Jan 18, 2020 15:37:25").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get todays date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      
      
        
      // Output the result in an element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h ";
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>
    <!--timer script end --> 
    {% endblock %}                         
